In [45]:
import sqlite3

In [46]:
connection = sqlite3.connect('example.db')
connection

In [47]:
cursor = connection.cursor()

In [48]:
#Create a Table

cursor.execute('''
Create Table If Not Exists employee(
        id Interger Primary Key,
        name Text not null,
        age Integer,
        department text
    )
''' )


##
connection.commit()

In [49]:
cursor.execute('Select * from employee')

In [50]:
#Insertion
cursor.execute(''' 
    insert into employee(name, age, department) values('Darshan', 20, 'CSE')
''')
connection.commit()

In [51]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()

for i in rows:
    print(i)

(None, 'Darshan', 20, None)
(None, 'Ankit', 23, None)
(None, 'Harshal', 20, None)
(None, 'Darshan', 20, 'CSE')

In [52]:
cursor.execute('update employee set age=30 where name="Darshan"')
connection.commit()

In [53]:
def see():
    cursor.execute('Select * from employee')
    rows = cursor.fetchall()

    for i in rows:
        print(i)

In [54]:
# cursor.execute('delete from employee where name="Darshan"')
# connection.commit()
def dele():
    cursor.execute('delete from employee where 1=1')
    connection.commit()

In [55]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()

for i in rows:
    print(i)

(None, 'Darshan', 30, None)
(None, 'Ankit', 23, None)
(None, 'Harshal', 20, None)
(None, 'Darshan', 30, 'CSE')

In [56]:
data = [
    ['Darshan', 20],
    ['Ankit',  23],
    ('Harshal', 20),


]
dele()
cursor.executemany('insert into employee(name, age) values(?, ?)', data)
connection.commit()

In [57]:
see()

(None, 'Darshan', 20, None)
(None, 'Ankit', 23, None)
(None, 'Harshal', 20, None)

In [58]:
connection.close()