In [18]:
import pandas as pd
from io import StringIO

data = '{"col1": [1, 2, 3], "col2": [4, 5, 6]}'
print(data)
print('StringIO(data) : ',StringIO(data))
df = pd.read_json(StringIO(data))
df

{"col1": [1, 2, 3], "col2": [4, 5, 6]}
StringIO(data) :  <_io.StringIO object at 0x00000250E6A41180>

   col1  col2
0     1     4
1     2     5
2     3     6

In [19]:
print("orient = records : ", df.to_json(orient='records'))
print("orient = index : ", df.to_json(orient='index'))
print("orient = split : ", df.to_json(orient='split'))  
print("orient = table : ", df.to_json(orient='table'))
print("orient = columns : ", df.to_json(orient='columns'))
print("orient = values : ", df.to_json(orient='values'))

orient = records :  [{"col1":1,"col2":4},{"col1":2,"col2":5},{"col1":3,"col2":6}]
orient = index :  {"0":{"col1":1,"col2":4},"1":{"col1":2,"col2":5},"2":{"col1":3,"col2":6}}
orient = split :  {"columns":["col1","col2"],"index":[0,1,2],"data":[[1,4],[2,5],[3,6]]}
orient = table :  {"schema":{"fields":[{"name":"index","type":"integer"},{"name":"col1","type":"integer"},{"name":"col2","type":"integer"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"col1":1,"col2":4},{"index":1,"col1":2,"col2":5},{"index":2,"col1":3,"col2":6}]}
orient = columns :  {"col1":{"0":1,"1":2,"2":3},"col2":{"0":4,"1":5,"2":6}}
orient = values :  [[1,4],[2,5],[3,6]]

In [66]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [62]:
url = 'https://www.w3schools.com/html/html_tables.asp'

arr = pd.read_html(url,match='zzini')

arr

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy]

In [77]:
pd.read_excel('can Delete.xlsx')

   Name  Age
0  john  300

In [75]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/1NGsSUp4uQTlRmp0A2e1Wz4pwQIV1AVA48n2QJRScMr0/export?format=csv"
df = pd.read_csv(url)

print(df.head())

   Name  Age
0  john  300

In [78]:
df.to_pickle('dataframe.pkl')

In [79]:
load = pd.read_pickle('dataframe.pkl')
print(load.head())

   Name  Age
0  john  300